@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');


/* navigation style */
.navigation{
    background: #fff;
}
.navigation .navbar-brand{
    color: #000;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Nanum Pen Script', cursive;
}
.navigation ul li .nav-link{
    color: #000;
    font-weight: bold;
    font-size: 13px;
}
.navigation ul li form input.search_form{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #c2bfbf;
    outline: 0;
    font-size: 13px;
}


/* home_container style */
.home_container{
    padding: 100px 0px;
}
.home_container .other_issues{
    text-align: center;
    background: #c2bfbf;
    border-radius: 10px;
    padding: 50px 0px;
    top: 100px;
    position: sticky;
    -webkit-position:sticky;
}
.home_container .other_issues h1{
    text-align: center;
    font-size: 18px;
}
.home_container .blog_contents{
    text-align: center;
    background: #c2bfbf;
    border-radius: 10px;
    padding: 20px 0px;
}
.home_container .blog_contents h1{
    text-align: justify;
    padding-left: 10px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.home_container .advertisement{
    text-align: center;
    background: #c2bfbf;
    border-radius: 10px;
    padding: 50px 0px;
    top: 100px;
    position: sticky;
    -webkit-position:sticky;
}
.home_container .advertisement h1{
    text-align: justify;
    padding-left: 10px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.home_container .footer_part{
    text-align: center;
    padding: 50px 0px;
    top: 200px;
    position: sticky;
    -webkit-position:sticky;
}


/* display_blog_container style */
.display_blog_container{
    margin-top: 10px;
    background: #fff;
    text-align: justify
}
.display_blog_container h1{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.display_blog_container p{
    font-size: 14px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}



/* login page style */
.login_part{
    background: #fff;
    border: 1px solid #c2bfbf;
    padding: 70px 20px;
}
.login_part h1{
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 70px;
}
.login_part form input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #c2bfbf;
    outline: 0;
}
.login_part form button{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #3399ff;
    color: #fff;
}
.go_to_sign_up{
    background: #fff;
    border: 1px solid #c2bfbf;
    padding-top: 20px;
    text-align: center;
    margin-top: 10px;
}
.go_to_sign_up p .link{
    text-decoration: none;
}



/* register page style */
.register_part{
    background: #fff;
    border: 1px solid #c2bfbf;
    padding: 70px 20px;
}
.register_part h1{
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 70px;
}
.register_part form input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #c2bfbf;
    outline: 0;
}
.register_part form button{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #3399ff;
    color: #fff;
}
.go_to_login{
    background: #fff;
    border: 1px solid #c2bfbf;
    padding-top: 20px;
    text-align: center;
    margin-top: 10px;
}
.go_to_login p .link{
    text-decoration: none;
}




/* forget passwpord page style */
.forgetpassword_part{
    background: #fff;
    border: 1px solid #c2bfbf;
    padding: 70px 20px;
}
.forgetpassword_part h1{
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 70px;
}
.forgetpassword_part form input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #c2bfbf;
    outline: 0;
}
.forgetpassword_part form button{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #3399ff;
    color: #fff;
}
.go_to_login{
    background: #fff;
    border: 1px solid #c2bfbf;
    padding-top: 20px;
    text-align: center;
    margin-top: 10px;
}
.go_to_login p .link{
    text-decoration: none;
}



/* footer page style */
.footer p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
}
